@import '../utils/utils.scss';

.todo-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 20px;
  border-radius: 20px;
  background-color: $light-theme-item-background;

  &:hover {
    @include todo-item-hover;
  }

  &__marker {
    margin-right: 20px;
    min-width: 20px;
    width: 20px;
    height: 20px;
    border: 2px solid #7328F6;
    border-radius: 50%;
    background-color: transparent;

    &:hover {
      cursor: pointer;
    }
  }

  &__title {
    @include todo-item-text;
    transition: 500ms;
  }
}

.todo-item.entering {
  animation-name: todo-item-entering;
  animation-duration: 500ms;
}

.todo-item.entered {
  animation-name: todo-item-entering;
  animation-duration: 500ms;
}

.todo-item.exiting {
  animation-name: todo-item-hiding;
  animation-duration: 1100ms;
}

.todo-item.exited {
  animation-name: todo-item-hiding;
  animation-duration: 1100ms;
}
