@import '../utils/utils.scss';

.todo-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 20px;
  border-radius: 20px;
  background-color: $light-theme-secondary-background;

  &:hover {
    @include todo-item-hover;
  }

  &__checkbox {
    display: none;
  }

  &__checkbox-label {
    margin-right: 20px;
    width: 20px;
    height: 20px;
    border: 2px solid #7328F6;
    border-radius: 50%;
    background-color: transparent;

    &:hover {
      cursor: pointer;
    }
  }

  &__title {
    @include todo-item-text;
  }
}