@import '../utils/utils.scss';

.todo-list {
  margin: 60px 20%;
  min-height: 400px;

  @include desktop {
    margin: 60px 15%;
  }

  @include laptop {
    margin: 60px 10%;
  }

  &__title {
    @include page-title;
  }

  &__items {
    margin-top: 20px;
    height: 500px;
  }
}