$light-theme-primary-background: #ffffff;
$light-theme-secondary-background: rgb(73, 255, 255);
$light-theme-item-background: rgb(155, 253, 253);
$light-theme-primary-text: #000000;

$dark-theme-primary-background: #202020;
$dark-theme-secondary-background: #2e2e2e;
$dark-theme-item-background: #2e2e2e;
$dark-theme-primary-text: #ffffff;