$dark-theme-primary-background: #1a1a1ff6;
$dark-theme-secondary-background: #27272A;
$dark-theme-primary-text: #ffffff;

$light-theme-primary-background: rgb(73, 255, 255);;
$light-theme-secondary-background: rgb(155, 253, 253);
$light-theme-primary-text: #000000;
