$light-theme-primary-background: #ffffff;
$light-theme-secondary-background: rgb(163, 177, 248);
$light-theme-item-background: rgb(208, 216, 255);
$light-theme-primary-text: #000000;

$dark-theme-primary-background: #202020;
$dark-theme-secondary-background: #2e2e2e;
$dark-theme-item-background: #2e2e2e;
$dark-theme-primary-text: #ffffff;