@import './adaptive.scss';
@import './colors.scss';
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700&display=swap');

@mixin page-title {
  font-family: 'Raleway';
  font-style: 'Medium';
  font-weight: 500;
  font-size: 30px;
}

@mixin todo-item-text {
  font-family: 'Raleway';
  font-style: 'Medium';
  font-weight: 500;
  font-size: 20px;
}

@mixin header-item-text {
  font-family: 'Raleway';
  font-style: 'Medium';
  font-weight: 500;
  font-size: 20px;
}