@import '../utils/font.scss';

@mixin adding-task-input {
  font-family: "Raleway";
  padding-left: 15px;
  border: 1px solid #2e2e2e;
  border-radius: 10px;
  font-size: 19px;

  &:focus {
    outline: none;
  }
}